* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(17, 17, 17);
  color: white;
}

.clock label {
  font-family: "Orbitron";
  font-size: 10em;
  color: transparent;
  /* text-fill-color: transparent; */
  /* color: rgb(179, 121, 233); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(rgb(218, 96, 75), #534843);
}

button {
  background-color: rgb(246, 111, 87);
  border-style: none;
  color: aliceblue;
  padding: 1em 2em;
  font-size: 0.9em;
  border-radius: 25px;
  position: relative;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #534843;
  color: aliceblue;
  padding: 1em 2em;
  font-size: 0.9em;
  border-radius: 25px;
  position: relative;
  transition: all 0.3s ease;
}

.list {
  padding-top: 2em;
}

.alarm input {
  padding: 1em;
  border-radius: 5px;
}

input:focus {
  border-color: rgb(246, 111, 87);
}

.inputs {
  padding-bottom: 1em;
  padding-top: 1em;
}

ul li {
  font-size: 2em;
}
